<!DOCTYPE html>
<html>
<head>
	<title>Pink AI | Results</title>
	<style type="text/css">
		.activeType {
			background-color: white;
			color: rgba(0, 0, 0, 0.8);
			font-size: 28px !important;
			border-radius: 10px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="../../general.css">
</head>
<body>
	<div id="resultContainer" style="text-align:center; width: 100%;">
		<h2 style="margin-top:0;" class="headline">Pink AI</h2>
		<h2 class="subheadline">Accurate, Affordable, Efficient Biopsy Analysis for Breast Cancer Detection</h2>
		<div class="binaryContainer">
			<div class="imgContainer">
				<h2 class="subheadline" style="margin-top: 0; margin-bottom: 20px;">Determined classification!</h2>
				<img src=<%="../../" + file_path %> alt="" style="width:400px">
			</div>
			<div class="values">
				<div class="prediction">
					<p class="subheader">Predicted Tumor from Model</p>
					<p class="class" id="classification-1"><%=classification%></p>
					<p class="type" style="font-size:20px"><%=type%></p>
					<p class="confidence" id="confidence-1"><span><%=confidence%>%</span> CONFIDENCE</p>

				</div>
				<div class="expected">
					<p class="subheader">Actual Tumor in Image</p>
					<p class="class"><%=expected_class%></p>
					<p class="type" style="font-size:20px"><%=expected_type%></p>
				</div>
			</div>
		</div>
		<div class="info">
			<h2><%=type%></h2>
			<% if (explanation != "") { %>
			<div class="explain">
				<h3>Description</h3>
				<p><%-explanation%></p>
			</div>
			<% } %>

			<% if (treatments.length != 0) { %>
			<div class="treatment">
				<h3>Treatment Options</h3>
				<ul>
					<% treatments.forEach(function(tr) { %>
						<li><%= tr %></li>
					<% }); %>
				</ul>
			</div>
			<% } %>
		</div>
	<div>
</body>
</html>

